{% extends 'catalog/base.html' %}
{% load path_image %}
{% block content %}

    <div class="py-5">
        <div class="container">
            <div class="card shadow-sm">
                <img src="{% media_filter object.preview %}" alt="Product image" class="img-fluid">
                <div class="card-body">
                    <h4 class="card-text">{{ object }}</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <p>{{ object.content }}</p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary"> Дата создания: {{ object.created_at }}</small>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">Количество
                            просмотров: {{ object.number_of_views }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}