{% extends 'catalog/base.html' %}

{% block title %}Изменение продукта{% endblock %}
{% block style %}
<style>
    .product-update{
    width:700px;
    margin:0 auto;
    }

    form {
        margin-bottom: 50px;
    }
</style>
{% endblock %}
{% block content %}
<div class="product-update">
    <hr>
    <h3>Изменить продукт</h3>
    <hr>

    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <hr>
        <h3>Версионность</h3>
        <hr>
        {{ version_form.as_p }}
        <button class="btn btn-outline-primary" type="submit">Изменить</button>
    </form>
</div>

{% endblock %}